# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea
# idea folder
.idea/
/DatasetV1
archive.zip
Code/Dataset/archive/*
train.csv
test.csv
*.csv
package-lock.json
